<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Hotel</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/media.css">
</head>

<body>
<div class="container">
    <main>
        <div class="sidenav-admin">
            <a class="logo-admin" href=""><img src="/images/icons/movie-tickets_white.svg"></a>
            <a href="/admin/avia"><img src="/images/icons/airplane_white.svg"></a>
            <a href="/admin/railway"><img src="/images/icons/train_white.svg"></a>
            <a href="/admin/bus"><img src="/images/icons/bus_white.svg"></a>
            <a href="/admin/hotel"><img src="/images/icons/review_white.svg"></a>
        </div>

        <div class="admin-body">
            <div class="admin-yellow">
                <div class="choice-heading">Готелі</div>
                <div class="categories-admin">
                    <button class="nav-link active" onclick="openSearch(event,'all')" id="default">Всі готелі</button>
                    <button class="nav-link add" onclick="openSearch(event,'add')">+</button>
                </div>
            </div>

            <div class="admin-content">
                <div id="all" class="tabcontent">
                    <div class="ticket-hotel" th:each="hotel : ${hotels}">
                        <img src="/images/hotel.jpg" class="hotel-pic">
                        <div class="ticket-hotel-text">
                            <div th:text="${hotel.hotelName}"></div>
                            <div class="stars">
                                <img src="/images/icons/star-hotel.svg">
                                <img src="/images/icons/star-hotel.svg">
                                <img src="/images/icons/star-hotel.svg">
                            </div>
                            <div class="ticket-small"  th:text="${hotel.address}"></div>
                            <div class="breakfast"  th:text="${hotel.foodType}"></div>
                        </div>
                        <div class="ticket-bus-choose hotel">
                            <div class="ticket-zhd-price">Від ₴ <span  th:text="${hotel.price}"></span></div>
                            <a th:href="@{/admin/edit_hotel{id}(id=${hotel.id})}" class="crud-btn">Редагувати</a>
                            <a th:href="@{/admin/delete_hotel{id}(id=${hotel.id})}" class="crud-btn">Видалити</a>
                        </div>
                    </div>
                </div>
                <div id="add" class="tabcontent">
                    <form method="post" th:action="@{/admin/save_hotel}" th:object="${newHotel}">
                        <div class="admin-form">
                            <div class="form-group">
                                <label>Назва</label>
                                <input type="text"
                                       class="form-account"
                                       placeholder="Турист"
                                       th:field="*{hotelName}">
                            </div>
                            <div class="form-group">
                                <label>Адреса</label>
                                <input type="text"
                                       class="form-account"
                                       placeholder="Київ, Київ, Пл. Перемоги, 1"
                                       th:field="*{address}">
                            </div>
                            <div class="form-group">
                                <label>Місто</label>
                                <input type="text"
                                       class="form-account"
                                       placeholder="Київ"
                                       th:field="*{city}">
                            </div>
                            <div class="form-group">
                                <label>Тип номеру</label>
                                <input type="text"
                                       class="form-account"
                                       placeholder="Класик Double"
                                       th:field="*{apartmentType}">
                            </div>
                            <div class="form-group">
                                <label>Кількість номерів</label>
                                <input type="number"
                                       class="form-account"
                                       placeholder="5"
                                       th:field="*{apartmentAmount}">
                            </div>
                            <div class="form-group">
                                <label>Дата заселення</label>
                                <input class="form-account" type="date" name="departure" value="2020-12-12" max="2021-12-10" min="2020-12-12">
                            </div>
                            <div class="form-group">
                                <label>Дата виселення</label>
                                <input class="form-account" type="date" name="arrival" value="2020-12-12" max="2021-12-10" min="2020-12-12">
                            </div>
                            <div class="form-group">
                                <label>Їжа</label>
                                <input type="text"
                                       class="form-account"
                                       placeholder="Сніданок включено"
                                       th:field="*{foodType}">
                            </div>
                            <div class="form-group">
                                <label>Ціна</label>
                                <input type="number"
                                       class="form-account"
                                       placeholder="1080"
                                       th:field="*{price}">
                            </div>
                            <div class="form-group">
                                <label>Тип</label>
                                <select name="sex" class="sex-select" th:field="*{tripType}">
                                    <option value="HOTEL">HOTEL</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Зберегти" class="save-btn user">
                </form>
            </div>
        </div>
</div>
</main>
</div>
</body>
<script type="text/javascript" src="/script/script.js"></script>
</html>