<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизація</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/media.css">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="background light">
        <div th:replace="basic_inc/header :: header"></div>
        <main>
            <div class="background dark payment">
                <div class="payment-container">
                    <form  th:action="@{/pay{id}(id=${ticket.id})}" method="post" th:object="${bankDTO}">
                        <div class="card">
                            <button type="submit" class="proceed"><svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                            </svg></button>
                            <img src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png" class="logo-card">
                            <label>Card number:</label>
                            <input id="user" th:field="*{id}" type="text" class="input cardnumber"  placeholder="1234 5678 9101 1121">
                            <label>Month:</label>
                            <input class="input month" th:field="*{expMonth}" placeholder="01">
                            <label>Year:</label>
                            <input class="input name" th:field="*{expYear}" placeholder="2023">
                            <label class="toleft">CCV:</label>
                            <input class="input toleft ccv" type="password" th:field="*{ccv}" placeholder="321">
                        </div>
                        <div class="receipt">
                            <div class="col"><p>Ціна:</p>
                                <h2 class="cost">₴400</h2><br>
                                <p>Name:</p>
                                <h2 class="seller">Codedgar</h2>
                            </div>
                            <div class="col" th:each="trip : ${trips}">
                                <p>Куплені квитки:</p>
                                <h3 class="bought-items">015K</h3>
                                <p class="bought-items description"><span th:text="${trip.fromWhere}"></span> → <span th:text="${trip.whereTo}"></span> <span th:text="${trip.departureDate}"></span> <span th:text="${trip.departureTime}"></span> 1 місце</p>
                                <p class="bought-items price">₴<span th:text="${trip.price}"></span></p><br>
                                <!--<h3 class="bought-items">015K</h3>
                                <p class="bought-items description">Київ-Пасажирський → Львів 29 листопада 2020 01:19 1 місце</p>
                                <p class="bought-items price">₴100</p><br>-->
                            </div>
                            <p class="comprobe">Квиток прийде вам на email!</p>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div th:replace="basic_inc/footer_main :: footer_main"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="/script/script.js"></script>
</html>